export POSTGRES_HOST='localhost'
export POSTGRES_PORT='5432'
export POSTGRES_USER='admin'
export POSTGRES_PASSWORD='adminpassword'
export POSTGRES_DB='logsmartdb'
export DATABASE_URL='postgres://admin:adminpassword@localhost:5432/logsmartdb'
export MONGODB_URI='mongodb://root:rootpassword@127.0.0.1'

export DISABLE_RATE_LIMIT='1'
export SMTP_SERVER='127.0.0.1:1025'
export SMTP_USERNAME=''
export SMTP_PASSWORD=''
export SMTP_FROM_EMAIL='noreply@logsmart.app'
export SMTP_FROM_NAME='LogSmart'
export GOOGLE_CLIENT_ID='test-google-client-id'
export GOOGLE_CLIENT_SECRET='test-google-client-secret'
export GOOGLE_REDIRECT_URI='http://localhost:5173/api/auth/google/callback'
export GOOGLE_ISSUER_URL='http://localhost:8080/google'
use flake
