@import 'tailwindcss';

@font-face {
	font-family: 'Afacad';
	src: url('/fonts/Afacad.woff2') format('woff2');
	font-weight: 400 700;
	font-style: normal;
	font-display: swap;
}

@theme {
	--color-bg-primary: var(--bg-primary);
	--color-bg-secondary: var(--bg-secondary);
	--color-text-primary: var(--text-primary);
	--color-text-secondary: var(--text-secondary);
	--color-border-primary: var(--border-primary);
	--color-border-secondary: var(--border-secondary);
	--color-component-text-input: var(--component-text-input);
	--color-component-checkbox: var(--component-checkbox);
	--color-component-temperature: var(--component-temperature);
	--color-component-dropdown: var(--component-dropdown);
	--color-component-label: var(--component-label);
	--color-scheme: var(--color-scheme);
	--breakpoint-xs: 350px;
}

:root {
	--bg-primary: #f9fafb;
	--bg-secondary: #fbf9f9;
	--text-primary: #111827;
	--text-secondary: #6b7280;
	--border-primary: #000100;
	--border-secondary: #e5e7eb;
	--button-secondary: #97393f;
	--button-primary: #399791;
	--button-primary-hover: #2E7974;
	--button-primary-active: #25615D;
	--button-text: #f8f8f8;
	--error: #b44d6e;
	/* Accept-invitation */
	--step-active: #72afb7;
	--step-comp-bg: #399791;
	--input-invite: #d1d7e0;
	--input-focus: #5678a2;
	--field-error: #d5867a;
	--error-bg: #fdecea;
	--pass-toggle: #374151;
	/* Template Designer */
	--component-text-input: #5098b6;
	--component-checkbox: #7592b6;
	--component-temperature: #7972a4;
	--component-dropdown: #9b6a98;
	--component-label: #b36581;
	--create-button: #4db493;
	--create-button-hover: #3D9176;
	--create-button-active: #31745E;
	--history-button: #6c757d;
	--history-button-hover: #565E64;
	--history-button-active: #454B50;
	--snap-on: #7972a4;
	--snap-on-hover: #5E5787;
	--snap-on-active: #4B466C;
	--snap-off: #6c757d;
	--snap-off-hover: #565E64;
	--snap-off-active: #454B50;
	--grey-lite: #dee1e3;
	--grey-dark: #374151;

	/* Templates Dashboard */
	--delete-button: #b44d6e;
	--delete-button-hover: #913D58;
	--delete-button-active: #743146;
	--template-edit-button: #8870a3;
	--template-edit-hover: #745c8f;
	--template-edit-active: #5d4a73;
	--template-settings-button: #77a7d5;
	--template-settings-hover: #4486C5;
	--template-settings-active: #326BA2;
	--retry-button: #6275c0;
	--retry-button-hover: #4459ab;
	--retry-button-active: #364789;
	/*Attendance*/
	--clock-in-bg: #9fd7c5;
	--clock-out-bg: #dbe8f4;
	/*Branches*/
	--orange: #ff8c40;
	--orange-dark: #ab4400;
	--orange-light: #ffc29a;
	--color-scheme: light;
}

.dark {
	--bg-primary: #1f2937;
	--bg-secondary: #111827;
	--text-primary: #ffffff;
	--text-secondary: #8d94a0;
	--border-primary: #4b5563;
	--border-secondary: #374151;
	--button-primary: #3d7a82;
	--button-secondary: #82453d;
	/* Accept-invitation */
	--step-active: #50949D;
	--step-comp-bg: #2E7974;
	--input-invite: #d1d7e0;
	--input-focus: #6b8cff;
	--field-error: #C55847;
	--error-bg: #fdecea;
	--pass-toggle: #374151;
	/* Template Designer */
	--component-text-input: #3e7b95;
	--component-checkbox: #5678a2;
	--component-temperature: #7972a4;
	--component-dropdown: #9b6a98;
	--component-label: #b36581;
	--create-button: #1e9f7f;
	--create-button-hover: #187F66;
	--create-button-active: #136652;
	--history-button: #546e7a;
	--history-button-hover: #455a64;
	--history-button-active: #374850;
	--snap-on: #6C5B85;
	--snap-on-hover: #56496A;
	--snap-on-active: #453A55;
	--snap-off: #6c757d;
	--snap-off-hover: #5a6268;
	--snap-off-active: #4e555b;
	--button-text: #f8f8f8;
	--grey-lite: #dee1e3;
	--grey-dark: #374151;
	/* Templates Dashboard */
	--delete-button: #913D58;
	--delete-button-hover: #743146;
	--delete-button-active: #5D2738;
	--template-edit-button: #6D5686;
	--template-edit-hover: #57456B;
	--template-edit-active: #463756;
	--template-settings-button: #4486C5;
	--template-settings-hover: #326BA2;
	--template-settings-active: #285682;
	--retry-button: #337ab7;
	--retry-button-hover: #286090;
	--retry-button-active: #204d74;
	--button-primary: #3d7a82;
	/*Attendance*/
	--clock-in-bg: #9fd7c5;
	--clock-out-bg: #dbe8f4;
	/*Branches*/
	--orange: #ff8c40;
	--orange-dark: #ab4400;
	--orange-light: #ffc29a;

	--color-scheme: dark;
}