@import 'tailwindcss';

@font-face {
	font-family: 'Afacad';
	src: url('/fonts/Afacad.woff2') format('woff2');
	font-weight: 400 700;
	font-style: normal;
	font-display: swap;
}

@theme {
	--color-bg-primary: var(--bg-primary);
	--color-bg-secondary: var(--bg-secondary);
	--color-text-primary: var(--text-primary);
	--color-text-secondary: var(--text-secondary);
	--color-border-primary: var(--border-primary);
	--color-border-secondary: var(--border-secondary);
	--color-component-text-input: var(--component-text-input);
	--color-component-checkbox: var(--component-checkbox);
	--color-component-temperature: var(--component-temperature);
	--color-component-dropdown: var(--component-dropdown);
	--color-component-label: var(--component-label);
	--breakpoint-xs: 350px;
}

:root {
	--bg-primary: #ffffff;
	--bg-secondary: #f9fafb;
	--text-primary: #111827;
	--text-secondary: #6b7280;
	--border-primary: #000100;
	--border-secondary: #e5e7eb;
	--component-text-input: #e0f2fe;
	--component-checkbox: #dcfce7;
	--component-temperature: #fef3c7;
	--component-dropdown: #f3e8ff;
	--component-label: #ffe4e6;
	--component-image-upload: #e879fe;
}

.dark {
	--bg-primary: #1f2937;
	--bg-secondary: #111827;
	--text-primary: #ffffff;
	--text-secondary: #9ca3af;
	--border-primary: #4b5563;
	--border-secondary: #374151;
	--component-text-input: #0c4a6e;
	--component-checkbox: #14532d;
	--component-temperature: #78350f;
	--component-dropdown: #581c87;
	--component-label: #881337;
	--component-image-upload: #a855f7;
}
