name: Deploy Backend

on:
  push:
    branches:
      - prod
    paths:
      - 'SourceCode/back-end/**'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Build and Deploy Backend
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v27
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build for ARM64
        working-directory: ./SourceCode/back-end
        run: |
          nix build .#aarch64-linux

      - name: Deploy to Server
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USER }}
          key: ${{ secrets.DEPLOY_SSH_KEY }}
          port: ${{ secrets.DEPLOY_PORT }}
          source: "SourceCode/back-end/result/bin/logsmart-srv"
          target: "${{ secrets.DEPLOY_PATH }}"
          strip_components: 3

      - name: Restart Service
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USER }}
          key: ${{ secrets.DEPLOY_SSH_KEY }}
          port: ${{ secrets.DEPLOY_PORT }}
          script: |
            chmod +x ${{ secrets.DEPLOY_PATH }}/logsmart-srv
            sudo systemctl restart logsmart.service
